<div id="breadcrumbs-wrapper">
   <div class="container">
     <div class="row">
       <div class="col s4">
         <h5 class="breadcrumbs-title">FAQ</h5>
         <ol class="breadcrumbs">
             <li><%=link_to "< Voltar", :controller => "faq" , :action => "index" %></li>
         </ol>
       </div>
     </div>
   </div>
 </div>
<%= form_for @faq, url: admin_faq_update_path, :html => { :id => "formfaqupdate" }, :method => :POST do |f| %>
  <!--start container-->
  <div class="container container-dash">
    <% if flash[:alert] %>
    <div class="row" style="margin-bottom:20px;">
      <div class="col s4">
        <div id="card-alert" class="card red" style="margin:0;">
          <div class="card-content white-text" style="padding: 6px 0 13px 15px;">
            <p><i class="mdi-alert-error"></i> <%= flash[:alert] %></p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% if flash[:notice] %>
    <div class="row" style="margin-bottom:20px;">
      <div class="col s4">
      <div id="card-alert" class="card green" style="margin:0;">
        <div class="card-content white-text" style="padding: 6px 0 13px 15px;">
          <p><i class="mdi-navigation-check"></i> <%= flash[:notice] %></p>
        </div>
      </div>
    </div>
  </div>
    <% end %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_area :pergunta, type: "text", :class => "materialize-textarea validate" %>
        <%= f.label :pergunta, "Pergunta", :for=>"pergunta" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_area :resposta, type: "text", :class => "materialize-textarea validate" %>
        <%= f.label :resposta, "Resposta", :for=>"resposta" %>
      </div>
    </div>
    <div class="row" style="margin:30px 0 60px 0;">
      <%= f.text_field :edit_id, type: "hidden", :class => "validate", :value => params[:id]  %>
      <button class="btn waves-effect waves-light " type="submit" name="action">Salvar FAQ</button>
    </div>
  </div>
  <!--end container-->
<% end %>
