<%= form_for :usuario, url: {action: "login"} do |f| %>
  <div class="card">
      <div class="row row-logo">
        <h5>Painel de Acesso</h5>
      </div>
      <% if flash[:alert] %>
        <div id="card-alert" class="card red" style="margin-bottom:25px;">
          <div class="card-content white-text" style="padding:0;">
            <i class="material-icons" style="margin: 0px 10px 0 0;float:left;">warning</i>
            <p> <%= flash[:alert] %></p>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="input-field">
          <%= f.text_field :email, type: "email", :class => 'validate' %>
          <%= f.label :email, "E-mail", :for=>"email", 'data-error'=>'E-mail inválido' %>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <%= f.text_field :password, type: "password", :class => "validate" %>
          <%= f.label :password, "Senha", :for=>"password" %>
        </div>
      </div>
      <div class="row">
        <p>
          <input type="checkbox" class="filled-in" id="filled-in-box" />
          <label for="filled-in-box">Lembrar-me</label>
        </p>
      </div>
      <div class="row row-form-submit">
        <div class="row-remember">
          <%=link_to "Esqueceu sua senha?", { :controller => "painel", :action => "esqueci_senha" } %>
        </div>
        <div class="row-submit">
          <%= f.submit "Entrar", :class=>"btn" %> <!-- disabled -->
        </div>
      </div>
  </div>
<% end %>
