<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>Painel - Editora Solução</title>
    <link rel="icon" href="http://www.editorasolucao.com.br/media/favicon/default/icon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="http://www.editorasolucao.com.br/media/favicon/default/icon.png" type="image/x-icon" />
    <link href="<%="#{request.protocol}#{request.host_with_port}/" %>css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="<%="#{request.protocol}#{request.host_with_port}/" %>css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="<%="#{request.protocol}#{request.host_with_port}/" %>css/custom/custom.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="<%="#{request.protocol}#{request.host_with_port}/" %>js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="<%="#{request.protocol}#{request.host_with_port}/" %>js/plugins/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet" media="screen,projection">
    <style>
    input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid { border-bottom: 1px solid; box-shadow: 0 1px 0 0 #CCC; }
    .input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label {color: #0366A7;}
    .input-field input[type=email]:focus, .input-field input[type=password]:focus {border-bottom: 1px solid #0366A7;box-shadow: 0 1px 0 0 #0366A7;}
    .btn, .btn-large {background-color: #0079B8 !important;}
    .btn:hover, .btn-large:hover { background-color:#023150; }
    .input-field .prefix.active { color:#023150; }
    input[type=text]:focus:not([readonly]),input[type=password]:focus:not([readonly]),input[type=email]:focus:not([readonly]),input[type=url]:focus:not([readonly]),input[type=time]:focus:not([readonly]),input[type=date]:focus:not([readonly]),input[type=datetime-local]:focus:not([readonly]),input[type=tel]:focus:not([readonly]),input[type=number]:focus:not([readonly]),input[type=search]:focus:not([readonly]),textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #0079B8;
        box-shadow: 0 1px 0 0 #0079B8;
    }
    input[type=text]:focus:not([readonly])+label,input[type=password]:focus:not([readonly])+label,input[type=email]:focus:not([readonly])+label,input[type=url]:focus:not([readonly])+label,input[type=time]:focus:not([readonly])+label,input[type=date]:focus:not([readonly])+label,input[type=datetime-local]:focus:not([readonly])+label,input[type=tel]:focus:not([readonly])+label,input[type=number]:focus:not([readonly])+label,input[type=search]:focus:not([readonly])+label,textarea.materialize-textarea:focus:not([readonly])+label {
        color: #0079B8;
    }
    input[type=text].valid,input[type=text]:focus.valid,input[type=password].valid,input[type=password]:focus.valid,input[type=email].valid,input[type=email]:focus.valid,input[type=url].valid,input[type=url]:focus.valid,input[type=time].valid,input[type=time]:focus.valid,input[type=date].valid,input[type=date]:focus.valid,input[type=datetime-local].valid,input[type=datetime-local]:focus.valid,input[type=tel].valid,input[type=tel]:focus.valid,input[type=number].valid,input[type=number]:focus.valid,input[type=search].valid,input[type=search]:focus.valid,textarea.materialize-textarea.valid,textarea.materialize-textarea:focus.valid {
        border-bottom: 1px solid #0079B8;
        box-shadow: 0 1px 0 0 #0079B8;
    }
    </style>
    <script type="text/javascript" src="<%="#{request.protocol}#{request.host_with_port}/" %>js/plugins/jquery-1.11.2.min.js"></script>
    <script>
    $(document).ready(function(){
      $("input[name='Search']").keypress(function(e){
        if(e.which == 13) {
            location.href='/busca/'+$(this).val()+'';
        }
      });
    });
    </script>
  </head>

<body>
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <header id="header" class="page-topbar">
        <div class="navbar-fixed">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <ul class="left">
                      <li><h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1"><img src="<%="#{request.protocol}#{request.host_with_port}/" %>images/materialize-logo.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1></li>
                    </ul>
                    <div class="header-search-wrapper hide-on-med-and-down">
                        <i class="mdi-action-search"></i>
                        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Buscar Curso.."/>
                    </div>
                    <ul class="right hide-on-med-and-down">
                        <li>
                          <a class="tooltipped waves-effect waves-block waves-light notification-button" data-position="bottom" data-delay="50" data-tooltip="(11) 3825-7299" data-tooltip-id="cc362e54-4015-bd15-f8d6-57652c35fd72"><i class="mdi-communication-phone"></i></a>
                        </li>
                        <li>
                          <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                        </li>
                    </ul>
                    <!-- notifications-dropdown -->
                    <ul id="notifications-dropdown" class="dropdown-content">
                      <li>
                        <h5>NOTIFICATIONS <span class="new badge">5</span></h5>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a href="#!"><i class="mdi-action-add-shopping-cart"></i> A new order has been placed!</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
                      </li>
                      <li>
                        <a href="#!"><i class="mdi-action-stars"></i> Completed the task</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
                      </li>
                      <li>
                        <a href="#!"><i class="mdi-action-settings"></i> Settings updated</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
                      </li>
                      <li>
                        <a href="#!"><i class="mdi-editor-insert-invitation"></i> Director meeting started</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
                      </li>
                      <li>
                        <a href="#!"><i class="mdi-action-trending-up"></i> Generate monthly report</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
                      </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                <li class="user-details cyan darken-2">
                <div class="row">
                    <div class="col col s4 m4 l4">
                        <img src="<%="#{request.protocol}#{request.host_with_port}/" %>images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                    </div>
                    <div class="col col s8 m8 l8">
                        <a class="btn-flat waves-effect waves-light white-text profile-btn"><%=current_user.nome_completo %></a>
                        <p class="user-roal">Aluno</p>
                    </div>
                </div>
                </li>
                <li class="li-hover">
                  <p class="ultra-small margin more-text">MENU</p>
                </li>
                <li class="li-hover">
                  <div class="divider"></div>
                </li>
                <li class="bold <%= (controller_name == "meus_cursos") ? 'active' : '' %>">
                  <%=link_to raw("<i class=\"mdi-av-my-library-books\"></i> Meus Cursos"), meus_cursos_path, { :class => "waves-effect waves-cyan" } %>
                </li>
                <li class="bold <%= (controller_name == "dadoscadastrais") ? 'active' : '' %>">
                  <%=link_to raw("<i class=\"mdi-action-account-circle\"></i> Dados Cadastrais"), dadoscadastrais_path, { :class => "waves-effect waves-cyan" } %>
                </li>
                <li class="bold <%= (controller_name == "dadosdeacesso") ? 'active' : '' %>">
                  <%=link_to raw("<i class=\"mdi-communication-vpn-key\"></i> Dados de Acesso"), dadosdeacesso_path, { :class => "waves-effect waves-cyan" } %>
                </li>
                <li class="bold  <%= (controller_name == "faq") ? 'active' : '' %>">
                  <%=link_to raw("<i class=\"mdi-communication-live-help\"></i> FAQ"), faq_path, { :class => "waves-effect waves-cyan" } %>
                </li>
                <li class="bold <%= (controller_name == "suporte") ? 'active' : '' %>">
                  <%=link_to raw("<i class=\"mdi-content-markunread\"></i> Suporte"), suporte_path, { :class => "waves-effect waves-cyan" } %>
                </li>
                <li class="bold">
                  <%=link_to raw("<i class=\"mdi-action-exit-to-app\"></i> Sair"), { :controller => "painel", :action => "destroy" }, { :class => "waves-effect waves-cyan" } %>
                </li>
            </ul>
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->

            <!-- //////////////////////////////////////////////////////////////////////////// -->

            <!-- START CONTENT -->
            <section id="content">
            <%= yield %>
            </section>
            <!-- END CONTENT -->

            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START RIGHT SIDEBAR NAV-->
            <aside id="right-sidebar-nav">
                <ul id="chat-out" class="side-nav rightside-navigation">
                    <li class="li-hover">
                        <ul class="chat-collapsible" data-collapsible="expandable">
                        <li>
                            <div class="collapsible-header red white-text"><i class="mdi-action-stars"></i>Favorite Associates</div>
                            <div class="collapsible-body favorite-associates">
                                <div class="favorite-associate-list chat-out-list row">
                                    <div class="col s4"><img src="<%="#{request.protocol}#{request.host_with_port}/" %>images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                                    </div>
                                    <div class="col s8">
                                        <p>Eileen Sideways</p>
                                        <p class="place">Los Angeles, CA</p>
                                    </div>
                                </div>
                                <div class="favorite-associate-list chat-out-list row">
                                    <div class="col s4"><img src="<%="#{request.protocol}#{request.host_with_port}/" %>images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                                    </div>
                                    <div class="col s8">
                                        <p>Zaham Sindil</p>
                                        <p class="place">San Francisco, CA</p>
                                    </div>
                                </div>
                                <div class="favorite-associate-list chat-out-list row">
                                    <div class="col s4"><img src="<%="#{request.protocol}#{request.host_with_port}/" %>images/avatar.jpg" alt="" class="circle responsive-img offline-user valign profile-image">
                                    </div>
                                    <div class="col s8">
                                        <p>Renov Leongal</p>
                                        <p class="place">Cebu City, Philippines</p>
                                    </div>
                                </div>
                                <div class="favorite-associate-list chat-out-list row">
                                    <div class="col s4"><img src="<%="#{request.protocol}#{request.host_with_port}/" %>images/avatar.jpg" alt="" class="circle responsive-img online-user valign profile-image">
                                    </div>
                                    <div class="col s8">
                                        <p>Weno Carasbong</p>
                                        <p>Tokyo, Japan</p>
                                    </div>
                                </div>
                                <div class="favorite-associate-list chat-out-list row">
                                    <div class="col s4"><img src="<%="#{request.protocol}#{request.host_with_port}/" %>images/avatar.jpg" alt="" class="circle responsive-img offline-user valign profile-image">
                                    </div>
                                    <div class="col s8">
                                        <p>Nusja Nawancali</p>
                                        <p class="place">Bangkok, Thailand</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        </ul>
                    </li>
                </ul>
            </aside>
            <!-- LEFT RIGHT SIDEBAR NAV-->

        </div>
        <!-- END WRAPPER -->

    </div>
    <!-- END MAIN -->



    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START FOOTER -->
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                Todos os direitos reservados - Copyright © 2017
                <span class="right"><a class="grey-text text-lighten-4" href="http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs" target="_blank">Editora Solução</a></span>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->


    <!-- ================================================
    Scripts
    ================================================ -->

    <script type="text/javascript" src="<%="#{request.protocol}#{request.host_with_port}/" %>js/materialize.min.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="<%="#{request.protocol}#{request.host_with_port}/" %>js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <!-- sparkline -->
    <script type="text/javascript" src="<%="#{request.protocol}#{request.host_with_port}/" %>js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="<%="#{request.protocol}#{request.host_with_port}/" %>js/plugins/sparkline/sparkline-script.js"></script>

    <!--jvectormap-->
    <script type="text/javascript" src="<%="#{request.protocol}#{request.host_with_port}/" %>js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script type="text/javascript" src="<%="#{request.protocol}#{request.host_with_port}/" %>js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script type="text/javascript" src="<%="#{request.protocol}#{request.host_with_port}/" %>js/plugins/jvectormap/vectormap-script.js"></script>


    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="<%="#{request.protocol}#{request.host_with_port}/" %>js/plugins.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="<%="#{request.protocol}#{request.host_with_port}/" %>js/custom-script.js"></script>
    <!-- Toast Notification -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.11.2/jquery.mask.min.js"></script>
</body>

</html>
